body
  font-family: "Microsoft YaHei"
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  font-size: 14px
  display: -webkit-flex
  flex-direction: column
  .header
    height: 44px
    padding-top: 13px
    text-align: center
    position: relative
    box-sizing: border-box
    .L
      position: absolute
      top: 13px
      left: 15px
    .R
      position: absolute
      top: 13px
      right: 15px
  .section
    flex: 1
    flex-direction: column
    overflow-y: scroll
    .banner
      height: 150px
      img
        height: 150px
        width: 100%
    .title
      height: 310px
      padding: 12px 14px 0px
      box-sizing: border-box
      h4
        color: #4f99f2
        margin-bottom: 10px
      .conten
        color: #6b6b6b
        margin-bottom: 10px
        h5
          margin: 0
        p
          margin-top: 5px
    .text
      height: 48px
      line-height: 48px
      text-align: center
      width: 100%
      background: #4f99f2
      color: #ffffff
      border-top: 5px solid #eeeeee
    .cont
      height: auto
      padding-top: 10px
      .img
        height: 211px
        text-align: center
        padding-bottom: 15px
        border-bottom: 1px solid #eeeeee
        img
          height: 211px
      .cont-text
        height: 213px
        border-bottom: 1px solid #eeeeee
        h3
          padding-left: 15px
          line-height: 42px
          border-bottom: 1px solid #eeeeee
        .text-title
          height: 55px
          padding-top: 5px
          padding-bottom: 5px
          border-bottom: 1px solid #eeeeee
          display: -webkit-flex
          .L
            border-right: 1px solid #dadada
            flex: 1
            text-align: center
            padding-top: 10px
            span
              display: block
          .R
            flex: 1
            flex-direction: column
            text-align: center
            padding-top: 10px
            span
              display: block
          .lan
            color: #88b6f5
        .text-cont
          height: 115px
          padding: 10px
          display: -webkit-flex
          p
            font-size: 10px
          .l
            flex: 1
          .r
            flex: 1
      .cont-text-2
        height: 328px
        padding: 15px 10px 0
        dl
          height: 45px
          display: -webkit-flex
          dt
            height: 45px
            flex: 1
            img
              height: 45px
          dd
            flex: 5
            .text-2-cont
              margin-top: 2px
              color: #959595
              a
                color: #4f99f2
        .text-2
          height: 47px
          font-size: 8px
          display: -webkit-flex
          .hei
            margin-top: 6px
          span
            display: block
          .L
            color: #737373
            margin-top: 10px
            flex: 1
          .R
            margin-top: 10px
            margin-left: 10px
            flex: 5
        .map
          height: 200px
          padding-top: 5px
          p
            padding-top: 5px
            padding-bottom: 5px
          #allmap
            width: 100%
            height: 100%
            overflow: hidden
            margin: 0
            font-family: "Î¢ÈíÑÅºÚ"
      .zsda
        height: 303px
        color: #4f99f2
        padding-top: 20px
        h3
          text-align: center
          margin-bottom: 5px
        p
          text-align: center
          span
            font-size: 18px
          .no
            color: #999999
        .tu
          display: -webkit-flex
          flex-wrap: wrap
          text-align: center
          dl
            width: 50%
            text-align: center
            margin-top: 15px
            dt
              width: 82px
              height: 82px
              line-height: 82px
              border: 1px solid #4f99f2
              border-radius: 41px
              margin: 0 auto
              i
                font-size: 54px
            dd
              margin-top: 8px
      .zprz
        height: 52px
        p
          text-align: center
          margin-top: 10px
          margin-bottom: 15px
          color: #4f99f2
        .zprz-title
          display: -webkit-flex
          text-align: center
          span
            flex: 1
            i
              margin-right: 5px
          .l
            color: #4f99f2
      .cpjj
        height: 250px
        padding-top: 20px
        text-align: center
        p
          margin-top: 5px
          margin-bottom: 10px
          color: #4f99f2
        dl
          text-align: center
          dt
            height: 160px
            margin-bottom: 10px
            margin-top: 10px
            img
              height: 160px
          dd
            padding-right: 50px
            padding-left: 50px
            color: #666666
      .gsjj
        height: 93px
        margin-top: 20px
        padding-left: 10px
        padding-right: 10px
        div
          text-align: center
          margin-bottom: 8px
          color: #4f99f2
        p
          text-indent: 2em
      .gmxi
        height: 75px
        margin-top: 20px
        p
          margin-bottom: 15px
          text-align: center
          color: #4f99f2
        div
          display: -webkit-flex
          span
            flex: 1
            text-align: center
            i
              color: #4f99f2
      .xx
        height: 60px
        border-bottom: 1px solid #eeeeee
        border-top: 1px solid #eeeeee
        line-height: 60px
        padding-left: 10px
        position: relative
        span
          position: absolute
          top: 5px
          right: 10px
          height: 16px
          img
            height: 16px
      .gsjqt
        height: 223px
        .gs-title
          line-height: 50px
          color: #4f99f2
          text-align: center
        .gs-cont
          height: 171px
          display: -webkit-flex
          dl
            flex: 1
            text-align: center
            dt
              height: 102px
              img
                height: 102px
            dd
              span i
                color: #4f99f2
              .h
                color: #cccccc
    .footer
      line-height: 51px
      background: #eee
      color: #666666
      text-align: center








